/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body{
     font-family: 'Roboto', sans-serif;
     color: #000;
     background: #CDE8F3;
     justify-content: center;
     align-items: center;

   }

   header{
     height: 98px;
     background-color: rgba(255, 255, 255, .8);
     display: flex;
     position: sticky;
     top: 0;
   }

   .custom_header{
     width: 100vw;
     display: flex;
     justify-content: space-around;
     font-family: 'Roboto', sans-serif;
     align-items: center;
     position: sticky;
     z-index: 10;
   }


   .HeroSection{
     background-image: url('../assets/img/hero_image.jpg');
     width: 100%;
     height: 720px;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     overflow: hidden;
     position: static;
     margin-top: -100px;
   }


   .header_image img{
     left: 12px;
     height: 75px;
     width: auto;
     left: 10%;
   }

   #MainNav{
     font-size: 18px;
     color: #918F8F;
     align-items: center;
     display: flex;
     padding-left: 30px;
     right: 10%;
   }

   #MainNav ul{
     display: flex;
     list-style-type: none;
   }

   #MainNav ul li a{
     padding: 0px 10px 0px 10px;
     text-decoration: none;
     color: #918F8F;
   }

   #MainNav ul li a:hover{
     text-decoration: underline;
      color: #000;
   }

   ul li a.page_indicator{
     color: #0047BA !important;
   }

   .Middle_Section{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     flex-direction: column;
     flex-wrap: wrap;
     position: relative;
     display: flex;
   }

   .Content{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     color: #000;
     flex-direction: column;
   }

   .Content h1{
     font-size: 36px;
     margin: 0;
   }
   .Content p{
     font-size: 18px;
     margin: 50px;
     justify-content: center;
     align-items: center;
     display: flex;
   }

   .sponsor_section{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
   }

   .sponsor_box{
     width: 350px;
     height: 290px;
   border: 1px solid #918F8F;
   background-color: #FFF;
   padding: 25px;
   margin: 25px;
   justify-content: center;
   align-items: center;
   display: flex;
}

.sponsor_box img{
  width: 200px;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Middle_Section_Sponsors{
display: flex;
flex-direction: row;
align-items: center;
width: 80%;
flex-wrap: wrap;
margin: auto;
justify-content: center;
}



.speaker_box{
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;

}



  .speaker_box img{
    width: 200px;
    height: auto;
    padding: 10px;
justify-content: center;
align-items: center;
display: flex;
}

  .speaker_box h2{
    display: flex;
    align-items: center;
  font-size: 24px;
  justify-content: center;
}

  .speaker_box h3{
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}

.Middle_Section_Speakers{
display: flex;
flex-direction: row;
align-items: center;
width: 80%;
flex-wrap: wrap;
margin: auto;
justify-content: center;
}

.center_me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Contact_Page {
  width: 1214px;
  height: 457px;
  display: flex;
  align-items: top;
  justify-content: center;
  overflow: scroll;
}

.Privacy_Policy {
  width: 1214px;
  height: 457px;
  display: flex;
  align-items: top;
  background-color: #fff;
  justify-content: center;
  overflow: scroll;
  margin: 50px;
  padding: 5px;
}


.schedule{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.schedule td{
  border: 1px black solid;
}
.Days{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.Days a{
  padding: 15px;
  text-decoration: none;
}

.Days button {
  background-color: #0047BA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

button.activated{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

button.page_indicator{
  background-color: white !important;
  color: black !important;
  border: 2px solid #4CAF50 !important;
}


   footer{
     height: 100px;
     background-color: #0047BA;
     align-items: center;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     bottom: 0;
     position: static;
     bottom: 0;
   }

.custom_footer{
  width: 100vw;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  position: absolute;

}
.social a{
  right: 10%;
  text-decoration: none;
  color: #fff;
}

.address a{
  right: 10%;
  text-decoration: none;
  color: #fff;
}

.copyright a{
  right: 10%;
  text-decoration: none;
  color: #fff;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1440px) {
    /* Style adjustments for viewports that meet the condition */

}

@media only screen and (max-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
    .speaker_box img{
      width: 300px;
      height: auto;
      padding: 10px;

  }

}



@media only screen and (max-width: 360px) {
    /* Style adjustments for viewports that meet the condition */
    .speaker_box img{
      width: 330px;
      height: auto;
      padding: 10px;

    }

}













@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
